/* COMMON */
* {
  box-sizing: border-box;
}

html {
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;


}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {

  text-decoration: none;
  color: inherit;
}

.inner {

  max-width: 1200px;

  margin: 0 auto;
  
}


img {

  display: block;
}

.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  color: #0078C8;
  border:2px solid #0078C8;
  outline: none;
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  opacity: 0;

  
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 40px;
  font-weight: bold;
}
header nav ul li a {
  position: relative;
}

header .search .search-div{
  padding: 10px;
  cursor: pointer;
}

/* VISUAL */
.visual {

  width: 100%;
  background-color: #0078C8;

  transition: 2s;
  height: 100vh;
  padding: 3%;

}

.visual > .inner {
  margin: auto;
  font-size: 50px;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 20px;
  background-image: url(/images/winter-7593872_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: moveBackground 2s linear forwards ; 
}


.Description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}


.viimg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.viimg img {
  max-height: 60vh;
}

.vitext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}



.vitext .name {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 30px;
  -webkit-text-stroke: 2px #0078C8;
}

.vitext ul {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.vitext ul li {
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.vitext ul li:hover {
  color: #0078C8 ; 
  -webkit-text-stroke: 1px #fff;
}























/* ABOUT */
.about {
  padding: 150px 0;
}



.about > .inner{
  position: relative;
}
.about  .about__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.about .about__img img{
  width: 350px;
}




/* SKILL */
.skill{
  padding: 150px 0;
  background-color: #0078C8;
  height: 100vh;

}


.skill .inner{
  background-color: #fff;
  padding: 1px 1px  4% 1px;
  border-radius: 0 0 20px 20px;

}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.skill__box {
  width: 40%;
  height: 20vh;
  border: 1px solid #c8c8c8;
  border-radius: 20px;

}



/* PROJECT */
.project{
  padding: 150px 0;
}


/* CONTACT */
.contact{
  padding: 150px 0;
  background-color: #0078C8;
}
.contact .inner{
  background-color: #fff;
}




/* FOOTER */
footer{
  background-color: #333;
  color: #fff;
  position: relative;
}

footer .copyright{
  text-align: center;
  font-weight: 600;
  line-height: 200px;
}






/* SCROLL TO TOP */
#toTop{
  position: fixed;
  right: 50px;
  bottom: 80px;
}




















@keyframes moveBackground {
  0% {
    background-position: 0 40%; 
  }
  70%{background-position: 0 80%; }
  80%{background-position: 0 78%; }
  100%{
    background-position: 0 80%; 
  }
}















